@model MantenimientoClientesWeb.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/css/sb-admin.css")" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Content/css/plugins/morris.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-dark" onload="confirmarValidacion('@ViewBag.Mensaje')">
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="card card-login mx-auto mt-5">
                    <!-- Page Heading -->
                    <div class="card-header">Ingresar al sistema</div>
                    <div class="card-body">
                        <form role="form" method="post" action="@Url.Action("Login")">
                            <div class="form-group">
                                <label>Usuario</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.NombreUsuario)</label>
                                @Html.TextBoxFor(x => x.NombreUsuario, new { @class = "form-control" , id = "username" })
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label><label style="color:red"> &nbsp;&nbsp; @Html.ValidationMessageFor(x => x.Contraseña)</label>
                                @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control",id = "password" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="login">Ingresar</button>
                            </div>
                            @if (ViewBag.Error != null)
                            {
                                <div>
                                    <label class="field-validation-error" style="color:red" id="LoginErrorMsg">@ViewBag.Error</label>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Content/js/plugins/morris/raphael.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/morris/morris.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/morris/morris-data.js")"></script>


    <script>
        function confirmarValidacion(message) {
                if(message)
                alert(message)
        }
    </script>
</body>
</html>
